// Login Page
.loadBox {
    width: 100%;
    margin: 0 auto;
    border-radius: 30%;
    //background-color: rgba(0, 0, 0, 0.25);
    padding: 3%;
    .beeLoadImage {
        width: 50%;
        height: auto;
        margin: auto;
    }
    h3 {
        margin-top: -20px;
    }
}
.center {
    width: 50%;
    margin: auto;
    text-align: center;
}
.navLoader {
    height: 25px;
    display: inline;
    margin: 0;
}
h5 {
    display: inline;
    margin: 0;
}