// Login Page
.loadBox {
    width: 100%;
    margin: auto;
    border-radius: 30%;
    //background-color: rgba(0, 0, 0, 0.25);
    padding: 3%;
    .beeLoadImage {
        width: 100%;
        height: auto;
    }
    h3 {
        margin-top: -20px;
    }
}
.center {
    width: 50%;
    margin: auto;
    text-align: center;
}