$main-color1: rgba(255,165, 42,1);	// Main Secondary color (1) */
$main-color2: rgba(255,200,125,1);
$main-color3: rgba(255,182, 82,1);
$main-color4: rgba(255,148,  0,1);
$main-color5: rgba(199,115,  0,1);
$main-color6: rgba(255,243,125,1);
$links-font-size: 1.2em;
nav {
    z-index: 999;
    width: 100%;
    position: fixed;
    padding: 10px;
    background-color: $main-color4;
    box-shadow: 0 2px 3px 2px $main-color4;
    .navItem {
        color: $main-color6;
        font-size: $links-font-size;
        margin-left: 3%;
        list-style-type: none;
        display: inline;
        transition: all 50ms;
    }
    .navItem:hover {
        border-bottom: 2px solid $main-color6;
        transition: all 200ms;
    }
    .removeButton {
        color: rgb(200, 0, 0);
        cursor: pointer;
        margin-left: 5px;
    }
    .newItem {
        float: right;
    }
}
