@import 'colorCodes';
.selectedItemGrid {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  margin: auto;
  .itemCol1 {
    align-self: center;
    justify-self: center;
    .selectedItemPicture {
      width: 200px;
    }
  }
  .itemCol2 {
    margin-top: 10%;
    float: left;
    .buySection {
      .quantitySelect {
        float: left;
        height: 50px;
      }
      margin-top: 15%;
      .itemQuantity {
        display: inline;
        width: 50px;
        height: 50px;
        font-size: 2em;
        border: none;
        outline: none;
        text-align: center;
      }
      input[type=number]::-webkit-inner-spin-button {
        opacity: 1;
      }
      button {
        text-align: center;
        margin: 20px;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        font-size: 2em;
        background-color: $main-color1;
        color: white;
        border-color: $main-color1;
      }
    }
  }
}